.app-header-container {
  background-color: $clr-MDark;

  .app-header {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding: 20px;
    .logo {
      color: $clr-white;
      font-size: rem(34px);
      font-family: montserrat-bold;
    }
    .logo-outreach {
      font-family: montserrat-light;
    }

    ul {
      font-size: rem(18px);
      padding: 0.5rem;
      .lang-item {
        color: $clr-white;
        font-family: montserrat-bold;
        margin-top: 0.5rem;
        cursor: pointer;
      }
      .country-logo {
        img {
          min-width: 40px;
          width: 40px;
          height: 29px;
          margin: 0 1rem;
        }
      }
    }
    .book-call-btn{
      margin: 0;
      font-size: rem(16px);
      &:hover{
        transform: none;
        box-shadow:2px 2px 5px 0px rgba(234, 161, 89, 0.4392156863);
        opacity: 0.95;
      }
    }
  }
}
