.app-footer-container {
  background-image: url('https://res.cloudinary.com/db9bey3ot/image/upload/v1691154819/Background_y2pynq.png');
  background-repeat: no-repeat;
  .app-footer {
    text-align: center;
    .inquiry-header {
      color: $clr-SDark;
      font-family: montserrat-bold;
    }
    .inquiry-text {
      max-width: 900px;
    }
    .rights-section {
      .logo {
        color: $clr-white;
        font-family: montserrat-bold;
      }
      .logo-outreach {
        font-family: montserrat-light;
      }
      
       
    }
  }
}
// mobile
@media screen and (max-width: 1070px) {
  .app-footer {
    min-height: 400px;
    color: $clr-white;
  }

  .inquiry-header {
    font-size: rem(28px);
    margin-bottom: 0.5rem
  }
  .book-call-btn {
    @include call-to-action-btn;
    font-size: rem(16px);
    align-self: center;
    margin-bottom: 2rem;
    .btn-small-text {
      font-size: rem(12px);
    }
  }
  .inquiry-text {
    font-size: rem(18px);
  }
  .logo {
    font-size: rem(26px);
  }
  h6,.copy-rights {
    font-size: rem(12px);
    margin: 0.5rem;
  }
}
// desktop
@media screen and (min-width: 1070px) {
  .app-footer {
    min-height: 600px;
    color: $clr-white;
  }
  .inquiry-header {
    font-size: rem(60px);
  }
  .book-call-btn {
    @include call-to-action-btn;
    margin-bottom: 4rem;
  }
  h6,.copy-rights {
    font-size: rem(16px);
    margin: 0.5rem;
  }
  .logo {
    font-size: rem(34px);
  }
  .inquiry-text {
    font-size: rem(24px);
  }
  
}
