.hero-container {
  padding: 1rem 0;
  position: relative;
  overflow-x: hidden;
  .hero-introduction {
    align-items: flex-start;
    .intro-text {
      font-size: rem(39px);
      .intro-header {
        color: $clr-SDark;
        font-family: montserrat-bold;
      }
      .intro-sub-text {
        font-size: rem(20px);
        color: $clr-white;
        margin-top: 1rem;
      }
    }

    
  }
  .logo{
    font-family: montserrat-bold;
  }
  .logo-outreach{
    font-family: montserrat-light;
  }

  .hero-img {
    background-image: url('https://cdn.pixabay.com/photo/2020/09/17/18/05/people-5579977_960_720.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .hero-img-text {
      font-family: montserrat-bold;
    }
  }
}
// mobile
@media screen and (max-width: 1070px) {
  .hero-container{
    text-align: center;
    font-size: rem(20px);
    padding-bottom: 0rem;
  }
  .hero{
    flex-direction: column;
    align-items: center;
  }
  .hero-introduction{
    max-width: 350px;
  }
  .hero-img{
    max-width: 350px;
    width: 100%;
    height: 350px;
    .logo{
      color: $clr-SDark;
      font-size: rem(30px);
    }
    
  }
  .book-call-btn {
    @include call-to-action-btn;
    font-size: rem(16px);
    align-self: center;
    margin-bottom: 3rem;
    .btn-small-text{
      font-size: rem(12px);

    }
  }
}
// desktop
@media screen and (min-width: 1070px) {
  .hero-container{
    font-size: rem(35px);

  }
  .hero{
    flex-direction: row;
  }
  .hero-introduction{
    width: 50%;
  }
  .hero-img{
    width: 50%;
    .logo {
      color: $clr-white;
      font-size: rem(50px)
    }
  }
  .book-call-btn {
    @include call-to-action-btn;
    margin-bottom: 0;
  }
}
