.our-offer-container {
  background-image: url('https://res.cloudinary.com/db9bey3ot/image/upload/v1691231723/background_center_fwlhaz.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2rem 0;
  color: $clr-white;
  .our-offer {
  }

  .offer-info {
    width: 50%;
    padding:3rem 0;
    align-items: flex-start;
    .what-we-offer-header {
      font-size: rem(22px);
    }
    .big-header {
      font-size: rem(50px);
      font-family: montserrat-bold;
      color: $clr-SDark;
    }
    .offer-sub-header,.offer-text-1,.offer-text-2 {
      font-size: rem(18px);
      margin-top: 1rem;
    }
    
    .book-call-btn {
      @include call-to-action-btn;
      
    }
  }
  .not-offer-info {
    width: 50%;
    margin-left: 3rem;
    .not-offer-header {
      font-family: montserrat-bold;
      font-size: rem(22px);
    }
    .not-offer-sub-header {
      font-size: rem(26px);
    }
    .highlighted{
      font-style: italic;
    }
    ul {
      margin-top: 1.5rem;
      li {
        font-family: montserrat-bold;
        font-size: rem(22px);
        margin-top: 1rem;
        display: flex;
        align-items: center;
      }
    }
    .x-icon {
      margin-right: 0.5rem;
    }
  }
}
