.the-team-container {
  font-size: rem(22px);
  font-family: montserrat-bold;
  color: $clr-SDark;
  .the-team {
    .our-team-header {
      text-align: center;
      font-size: rem(40px);
      margin-bottom: 2rem;
    }
    .members-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
  }
  .member-name-header {
    margin-top: 1rem;
  }
  .member-title-header {
    font-size: rem(16px);
    font-family: montserrat-light;
    color: $clr-black;
  }
}
