.what-we-offer-container {
  // background-color: $clr-white;
  padding: 1rem;
  .what-we-offer {
    color: $clr-white;
    .offer-header {
      text-align: center;
      font-family: montserrat-bold;
      color: $clr-SDark;
      font-size: rem(40px);
    }
    .offers-info {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      margin-top: 1rem;
      justify-content: center;
    }
    .offer {
      padding: 1rem;
      margin-inline: 0.2rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      &:last-of-type {
        border: none;
      }
    }
    .offer-title {
      font-family: montserrat-bold;
      margin-bottom: 0.8rem;
      font-size: rem(18px);
    }
    .offer-desc {
    }
    .book-call-btn {
      align-self: center;
      margin-bottom: 0;
    }

    .offer-icon {
      align-self: center;
      margin-block: 1rem;
      font-size: rem(45px);
      color: $clr-SDark;
      font-family: fa-solid;
    }

    .offer-1-icon {
      &::before {
        content: '\f0a1';
      }
    }
    .offer-2-icon {
      &::before {
        content: '\f1c0';
      }
    }
    .offer-3-icon {
      &::before {
        content: '\e473';
      }
    }
    .offer-4-icon {
      &::before {
        content: '\f4c0';
      }
    }
  }
}

// mobile
@media screen and (max-width: 1070px) {
  .book-call-btn {
    @include call-to-action-btn;

    font-size: rem(16px);
  }
}
// desktop
@media screen and (min-width: 1070px) {
  .book-call-btn {
    @include call-to-action-btn;
  }
}
