// COLOR PALETTE
// $clr-MBG: hsl(218, 28%, 13%);
// $clr-FBG: hsl(216, 53%, 9%);
// $clr-introBG: hsl(217, 28%, 15%);
// $clr-testiBG: hsl(219, 30%, 18%);
$clr-white: #fff;
$clr-black: #000;
$clr-border: #707070;
$clr-Lgrey: #c0c0c0;
$clr-grey: rgba(110, 103, 103, 0.5);
$clr-main: #3b5585;
$clr-secondary: #eaa159;
$clr-MLight: lighten($clr-main, 60%);
$clr-MDark: darken($clr-main, 20%);
$clr-SLight: lighten($clr-secondary, 40%);
$clr-SDark: darken($clr-secondary, 10%);

$clr-warning: #e04747;

// LAYOUT
$layoutPadding: 20px;
$navHeight: 65px;

// LAYOUT BREAKPOINTS
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;

$padded-mobile-breakpoint: $mobile-breakpoint + $layoutPadding * 2;
$padded-tablet-breakpoint: $tablet-breakpoint + $layoutPadding * 2;
$padded-normal-breakpoint: $normal-breakpoint + $layoutPadding * 2;
$padded-wide-breakpoint: $wide-breakpoint + $layoutPadding * 2;
